APP_NAME="IIS-TJT Movers"
APP_ENV=local
APP_BASE_URL=
APP_TIMEZONE=Asia/Manila

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=iis_tjt_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=change-this-default-password
DEFAULT_ADMIN_NAME="System Administrator"
DEFAULT_ADMIN_EMAIL=admin@tjtmovers.local
